/* EFFECTS */
.drop-shadow-base {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.drop-shadow-card {
  box-shadow: 4px 4px 4px rgba(4, 4, 4, 0.25);
}

.outline-gray {
  border: 0.1rem solid var(--accent-dark);
}

.cursor-grabbing {
  cursor: grabbing;
}

/* BUTTONS */

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 0.1rem solid var(--accent-dark);
  @apply px-4 py-4 rounded-lg w-max;
}

.btn-primary:hover {
  filter: brightness(120%);
}

.btn-primary:active {
  filter: brightness(100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary:disabled, .btn-blue:disabled {
  background-color: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;
  filter: none;
  box-shadow: none;
}

.btn-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 0.1rem solid var(--accent-dark);
  @apply px-4 py-4 rounded-lg w-max;
}

.btn-blue:hover {
  filter: brightness(120%);
}

.btn-blue:active {
  filter: brightness(100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-delete-case {
  background-color: #BE1400;
  color: var(--color-white);
  border: 0.1rem solid var(--accent-dark);
  box-shadow: 0px 4px 4px 0px #00000040;
  @apply px-4 py-4 rounded-lg w-max;
}

.btn-delete-case:hover {
  filter: brightness(120%);
}

.btn-delete-case:active {
  filter: brightness(100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-cancel-delete {
  background-color: #4D4D4D;
  color: var(--color-white);
  border: 0.1rem solid var(--accent-dark);
  box-shadow: 0px 4px 4px 0px #00000040;
  @apply px-4 py-4 rounded-lg w-max;
}

.btn-cancel-delete:hover {
  filter: brightness(120%);
}

.btn-cancel-delete:active {
  filter: brightness(100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-green {
  background-color: var(--color-green);
  color: var(--color-white);
  border: 0.1rem solid var(--accent-dark);
  @apply px-4 py-4 rounded-lg w-max;
}

.btn-green:hover {
  filter: brightness(120%);
}

.btn-green:active {
  filter: brightness(100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-outline {
  border: 0.1rem solid var(--accent-dark);
  @apply w-max px-8 py-4 rounded-lg;
}

.btn-outline:disabled {
  background-color: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;
  filter: none;
  box-shadow: none;
}

.btn-outline:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-outline:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-outline-rounded {
  border: 0.1rem solid var(--accent-dark);
  @apply w-max px-8 py-4 rounded-full;
}

.btn-outline-rounded:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-outline-rounded:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-transparent-rounded {
  @apply w-max px-8 py-4 rounded-full font-sans font-semibold text-[1.6rem];
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn-transparent-rounded:hover {
  filter: brightness(0.9);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.btn-transparent-rounded:active {
    filter: brightness(0.8);
}

/* INPUTS */
.text-input {
  border: 0.1rem solid var(--accent-dark);
  @apply w-full px-4 py-4 rounded-xl;
}

.text-input-error {
  border: 0.1rem solid;
  @apply w-full px-4 py-4 rounded-xl border-red-500;
}

.text-input:disabled {
  @apply bg-gray-200;
}


.text-area {
  border: 0.1rem solid var(--accent-dark);
  @apply w-full px-4 py-4 rounded-xl;
}

.text-area-error {
  border: 0.1rem solid;
  @apply w-full px-4 py-4 rounded-xl border-red-500;
}

/* Entry Items */
.client-entry {
    transition: all 0.4s ease;
}

.client-entry:hover {
  filter: brightness(0.9);
}

.loader-conic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(var(--color-primary) 0deg 270deg, transparent 270deg 360deg);
  animation: spin 1s linear infinite;
  position: relative;
  transition: all 0.4s ease;
}

.loader-conic::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 44px;
  height: 44px;
  background-color: var(--color-white);
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
