@import "@fontsource/inter"; 
@import "tailwindcss";


@import './styles/typography.css';
@import './styles/components.css';
@import './styles/icons.css';
@import './styles/navigation.css';

html {
  font-size: 56.25%; 
}

/* Extra small mobile */
html {
  font-size: 54%;
}

/* Small mobile */
@media (min-width: 480px) {
  html {
    font-size: 56.25%;
  }
}

/* Tablet */
@media (min-width: 768px) {
  html {
    font-size: 58.75%;
  }
}

/* Default Desktop */
@media (min-width: 1024px) {
  html {
    font-size: 62.5%; /* 1rem = 10px on desktop*/
  }
}

/* Large desktop */
@media (min-width: 1440px) {
  html {
    font-size: 65%
  }
}

/* Extra large */
@media (min-width: 1920px) {
  html {
    font-size: 68.75%;
  }
}

:root {
    --color-primary: #E46455;
    --color-green: #78A181;
    --color-blue: #2AB0B7;

    --color-white: #ffffff;
    --color-black: #2B2D31;

    --accent-dark: #93989E;
    --accent-white: #F2F2F2;

    --text-color: hsl(0, 0%, 5%);
    --text-color-muted: hsl(0, 0%, 30%);

    --bg-color-dark: hsl(0, 0%, 90%);
    --bg-color: hsl(0, 0%, 95%);
    --bg-color-light: hsl(0, 0%, 100%);

    --border-color: hsl(0, 0%, 70%);
    --border-color-muted: hsl(0, 0%, 90%);
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
}

input[type="checkbox"]:disabled {
  accent-color: var(--color-black);
}

button {
  transition: all 0.4s ease;
  cursor: pointer;
}
